# Obtaining Public Water Service rates

The PWS rates information is given in the challenge dataset #10. After looking at it and realizing that only a small fraction of the providers had usable information, we tried to find a more complete source for this data.

Following Greg's suggestions, we found the data in a report titled "Water Rate Survey 2017", authored by the American Water Works Association (California-Nevada section), Raftelis, and California Data Collaborative. The following evening, we were notified that the same table was also available as a CSV file. Since I had already analyzed the PDF, I decided it could be useful knowledge for other circumstances where the machine-readable data is not available.

In [1]:
from tabula import read_pdf
import pandas as pd

In [1]:
df = read_pdf('CA-NV_RateSurvey-2017_final.pdf', pages='19-27')
df.head()

,Unnamed: 0,Effective,Unnamed: 2,Billing,Average Monthly,Rate,Monthly Fixed,Monthly Variable,Total
0,Water Service Provider,Date,Bill Frequency,Unit,Custom Usage,Structure,Charge,Charge,Charge
1,Alameda County Water District,3/1/2018,Bi-Monthly,ccf,9,Uniform,26.16,36.49,62.66
2,Amador Water Agency,10/1/2017,Monthly,ccf,8,Uniform,25.08,20.64,45.72
3,American Canyon City Of,6/1/2017,Monthly,ccf,9,Tiered,6.4,49.23,55.63
4,Anaheim City of,2/1/2016,Monthly,ccf,10,Uniform,12.97,5.19,18.16

We can see that there are some spurious header rows among the real data.
Usually, we can pass the line numbers to skip to the `read_csv()` function (in Tabula-py, exposed through the `pandas_option` kwarg parameter). This doesn't work here because the header is repeated on each page of the PDF; Tabula-py seems to be applying `pandas_options` only to the full (multipage) intermediate CSV table.

In [66]:
def read_pdf_skip_header(path, pages):
    return read_pdf(path, pages=pages, pandas_options={'skiprows': [1]})

def is_spurious_header(df):
    # these values are just examples, any other column would work
    return df['Effective'].isin(['Effective', 'Date'])

def remove_spurious_header_rows(df):
    rows = df.loc[is_spurious_header].index
    return df.drop(rows)

In [18]:
(read_pdf_skip_header('CA-NV_RateSurvey-2017_final.pdf', pages='19-27')
 .loc[is_spurious_header]
)

,Unnamed: 0,Effective,Unnamed: 2,Billing,Average Monthly,Rate,Monthly Fixed,Monthly Variable,Total
37,NaN,Effective,NaN,Billing,Average Monthly,Rate,Monthly Fixed,Monthly Variable,Total
38,Water Service Provider,Date,Bill Frequency,Unit,Custom Usage,Structure,Charge,Charge,Charge
76,NaN,Effective,NaN,Billing,Average Monthly,Rate,Monthly Fixed,Monthly Variable,Total
77,Water Service Provider,Date,Bill Frequency,Unit,Custom Usage,Structure,Charge,Charge,Charge
115,NaN,Effective,NaN,Billing,Average Monthly,Rate,Monthly Fixed,Monthly Variable,Total
116,Water Service Provider,Date,Bill Frequency,Unit,Custom Usage,Structure,Charge,Charge,Charge
154,NaN,Effective,NaN,Billing,Average Monthly,Rate,Monthly Fixed,Monthly Variable,Total
155,Water Service Provider,Date,Bill Frequency,Unit,Custom Usage,Structure,Charge,Charge,Charge
192,NaN,Effective,NaN,Billing,Average Monthly,Rate,Monthly Fixed,Monthly Variable,Total
193,Water Service Provider,Date,Bill Frequency,Unit,Custom Usage,Structure,Charge,Charge,Charge
231,NaN,Effective,NaN,Billing,Average Monthly,Rate,Monthly Fixed,Monthly Variable,Total
232,Water Service Provider,Date,Bill Frequency,Unit,Custom Usage,Structure,Charge,Charge,Charge
270,NaN,Effective,NaN,Billing,Average Monthly,Rate,Monthly Fixed,Monthly Variable,Total
271,Water Service Provider,Date,Bill Frequency,Unit,Custom Usage,Structure,Charge,Charge,Charge
309,NaN,Effective,NaN,Billing,Average Monthly,Rate,Monthly Fixed,Monthly Variable,Total
310,Water Service Provider,Date,Bill Frequency,Unit,Custom Usage,Structure,Charge,Charge,Charge



We could select the spurious header rows and then reject them, based on ad-hoc values:

In [20]:
def remove_spurious_header_rows(df):
    rows = df.loc[is_spurious_header].index
    return df.drop(rows)

In [20]:
(read_pdf_skip_header('CA-NV_RateSurvey-2017_final.pdf', pages='19-27')
 .pipe(remove_spurious_header_rows)
 .loc[is_spurious_header]
)

Empty DataFrame
Columns: [Unnamed: 0, Effective, Unnamed: 2, Billing, Average Monthly, Rate, Monthly Fixed, Monthly Variable, Total]
Index: []

A more solid approach would be to implement the multi-page reading functionality ourselves, so that `pandas_options` is applied on each page as intended, and then concatenating the single-page tables using `pd.concat`.
For the general case, this approach also offers the possibility of implementing per-page adjustments, if necessary.
It is possible that this is slower for very large tables, so flexibility/performance tradeoffs should be considered.

In [60]:
def read_pdf_separate_pages(path, pages, **pandas_options):
     return pd.concat((read_pdf(path, pages=[page],
                                pandas_options=pandas_options)
                       for page in pages), ignore_index=True)

In [61]:
df = read_pdf_separate_pages('CA-NV_RateSurvey-2017_final.pdf', pages=range(17, 28), skiprows=[1])
df.loc[is_spurious_header]

Empty DataFrame
Columns: [Unnamed: 0, Effective, Unnamed: 2, Billing, Average Monthly, Rate, Monthly Fixed, Monthly Variable, Total]
Index: []

In [59]:
df

,Unnamed: 0,Effective,Unnamed: 2,Billing,Average Monthly,Rate,Monthly Fixed,Monthly Variable,Total
0,Alameda County Water District,3/1/2018,Bi-Monthly,ccf,9,Uniform,26.16,36.49,62.66
1,Amador Water Agency,10/1/2017,Monthly,ccf,8,Uniform,25.08,20.64,45.72
2,American Canyon City Of,6/1/2017,Monthly,ccf,9,Tiered,6.40,49.23,55.63
3,Anaheim City of,2/1/2016,Monthly,ccf,10,Uniform,12.97,5.19,18.16
4,Antioch City Of,7/1/2017,Monthly,ccf,10,Tiered,21.20,32.52,53.72
5,Apple Valley Ranchos Water Company,1/1/2017,monthly,ccf,15,Tiered,34.73,63.14,97.87
6,Arcadia City Of,4/1/2017,Bimonthly,ccf,19,Tiered,10.17,32.52,42.69
7,Arcata City Of,10/1/2017,Monthly,ccf,4,Tiered,12.16,14.09,26.25
8,Arrowbear Park County Water District,12/19/2016,Monthly,ccf,15,Tiered,27.50,58.50,86.00
9,Arroyo Grande City Of,8/9/2017,Monthly,ccf,9,Tiered,34.34,36.60,70.94
10,Bakersfield City Of,10/1/2017,Monthly,ccf,20,Uniform,11.46,21.37,32.83
11,Bear State Water Works,8/15/2017,Monthly,kgal,15,Tiered,4.17,14.60,18.77
12,Bellflower-Somerset Mutual Water Company,10/1/2014,bimonthly,ccf,9,Uniform,14.18,16.29,30.47
13,Benicia City Of,7/1/2017,Bi-Monthly,ccf,7,Uniform,15.08,29.48,44.56
14,Beverly Hills City of,7/3/2017,Bimonthly,ccf,11,Tiered,21.68,52.83,74.51
15,Big Bear City Community Service District,7/1/2017,Bi-Monthly,ccf,6,Tiered,36.98,12.17,49.15
16,Big Bear Lake City Of,4/1/2017,Bi-Monthly,ccf,15,Tiered,45.60,33.46,79.06
17,Blythe City Of,7/1/2017,Monthly,ccf,15,Uniform,10.66,29.55,40.21
18,Brawley City Of,7/1/2018,Monthly,kgal,14,Uniform,38.24,18.95,57.19
19,Brea City Of,7/1/2017,Monthly,ccf,10,Tiered,15.93,36.99,52.92
20,Brentwood City of,7/1/2016,monthly,ccf,11,Tiered,29.83,43.82,73.65
21,Buena Park City Of,1/1/2018,Monthly,kgal,11,Uniform,38.61,17.49,56.10
22,Burbank City of,1/2/2017,monthly,ccf,9,Tiered,12.29,11.55,39.37
23,Burlingame City Of,1/1/2017,Bi-Monthly,kgal,6,Tiered,36.36,43.58,79.94
24,Calaveras County Water District,9/1/2017,Bi-Monthly,ccf,15,Tiered,85.17,11.52,96.69
25,Calaveras Public Utilities District,7/1/2016,Monthly,kgal,15,Tiered,39.73,11.55,51.28
26,Calexico City Of,8/1/2008,Monthly,ccf,13,Tiered,43.89,0.00,43.89
27,California American Water Company - Sacramento...,1/1/2018,Monthly,kgal,15,Tiered,19.84,46.70,66.54
28,California American Water Ventura District,1/13/2017,Monthly,kgal,15,Tiered,14.73,58.74,73.47
29,California Water Service Company Antelope Valley,1/1/2017,monthly,ccf,15,Tiered,31.02,65.35,96.37
...,...,...,...,...,...,...,...,...,...
293,Upland City of,4/1/2018,Bi-Monthly,ccf,16,Tiered,29.70,31.94,61.64
294,Vacaville City Of,1/1/2018,Monthly,ccf,12,Uniform,21.61,20.36,41.97
295,Valencia Water Company,1/1/2018,Monthly,ccf,11,Uniform,17.19,19.94,37.13
296,Vallejo City Of - Vallejo Service Area,6/9/2017,Monthly,ccf,15,Tiered,19.45,65.90,85.34
297,Vallejo City Of - Lakes Service Area,6/9/2017,Monthly,ccf,15,Tiered,41.08,197.37,238.44
298,Valley County Water District,1/1/2018,Bi-Monthly,ccf,10,Tiered,14.91,13.68,28.59
299,Valley Estates Properties Owners Association,1/1/2017,Monthly,kgal,15,Tiered,27.50,308.55,336.05
300,Valley Of The Moon Water District,2/1/2018,Bi-Monthly,kgal,8,Tiered,12.80,36.74,49.54
301,Vaughn Water Company,1/1/2018,Monthly,ccf,35,Tiered,39.38,11.36,50.74
302,Ventura City Of,7/1/2017,Bi-Monthly,ccf,15,Tiered,16.84,74.59,91.44
303,Ventura County Waterworks District No 01 - Moo...,3/15/2017,Monthly,ccf,16,Tiered,10.41,57.08,67.49
304,Vernon City Of,3/1/2015,Monthly,ccf,5,Uniform,11.29,9.90,21.19
305,Victorville Water District,7/1/2016,Monthly,ccf,15,Uniform,11.78,25.83,37.61
306,Virgin Valley Water District,4/20/2015,Monthly,kgal,15,Tiered,35.00,25.05,60.05
307,Vista Irrigation District,7/1/2017,Monthly,ccf,9,Tiered,37.05,39.80,76.85
308,Walnut Valley Water District,1/1/2017,monthly,ccf,14,Tiered,19.43,43.66,63.09
309,Watsonville City Of,7/1/2017,Monthly,ccf,9,Tiered,25.80,30.80,56.60
310,West Sacramento City Of,7/1/2021,Monthly,ccf,11,Uniform,24.61,27.61,52.22
311,West San Martin Water Works,7/17/2017,Monthly,ccf,15,Tiered,23.45,38.76,62.21
312,West Valley Water District,1/1/2015,Monthly,ccf,20,Tiered,22.21,45.25,67.46
313,Westborough Water District,9/8/2016,Monthly,ccf,5,Uniform,17.70,34.35,52.05
314,Western Municipal Water District,1/1/2018,Monthly,ccf,15,Budget,34.67,35.77,70.44
315,Westhaven Community Services District,7/1/2017,Monthly,kgal,15,Uniform,49.40,157.87,207.27
316,Westminister City Of,11/9/2017,Bi-Monthly,ccf,10,Tiered,7.08,28.23,35.30
317,Whittier City Of,8/1/2017,Bi-Monthly,ccf,10,Tiered,20.18,19.36,39.53
318,Windsor Town Of,7/1/2017,Bi-Monthly,kgal,8,Tiered,5.62,23.22,28.84
319,Woodland City Of,1/1/2021,Monthly,ccf,9,Tiered,55.65,37.12,92.77
320,Yorba Linda Water District,8/1/2017,Monthly,ccf,17,Uniform,19.45,47.15,66.60
321,Yreka City Of,10/1/2012,Monthly,kgal,9,Tiered,41.08,12.86,53.94
322,Yucaipa Valley Water District,3/7/2017,Monthly,kgal,19,Tiered,14.00,20.58,34.58

In [39]:
COLUMNS = [
    'provider_name',
    'effective_date',
    'billing_freq',
    'billing_unit',
    'avg_monthly_custom_usage',
    'rate_structure',
    'monthly_fixed_charge',
    'monthly_variable_charge',
    'total_charge'
]

CURRENCY_TYPE = float  # never do this in production!!!

DTYPES = {
    'provider_name': 'category',
    'billing_freq': 'category',
    'billing_unit': 'category',
    'avg_monthly_custom_usage': int,  # TODO we should check this
    'rate_structure': 'category',
    'monthly_fixed_charge': CURRENCY_TYPE,
    'monthly_variable_charge': CURRENCY_TYPE,
    'total_charge': CURRENCY_TYPE,   
}

The pandas Categorical dtype is roughly equivalent to an enum, and should be used whenever values can only take a finite number of options. The `uniformize_entries` is needed to normalize the various options for columns such as `billing_freq`, `billing_unit` and `rate_structure`, where the input values were formatted inconsistently.

In [50]:
def uniformize_entries(col):
    return (col
            .astype(str)
            .str.replace('-', '')
            .str.title()
           )

def clean(df):
    # never modify in-place!
    df = df.copy()
    df.columns = COLUMNS
    return (df
            .assign(rate_structure=lambda d: uniformize_entries(d.rate_structure),
                    billing_freq=lambda d: uniformize_entries(d.billing_freq),
                    provider_name=lambda d: uniformize_entries(d.provider_name),
                    effective_date=lambda d: pd.to_datetime(d.effective_date))
            .astype(DTYPES)
           )

In [62]:
df = clean(df)
df

,provider_name,effective_date,billing_freq,billing_unit,avg_monthly_custom_usage,rate_structure,monthly_fixed_charge,monthly_variable_charge,total_charge
0,Alameda County Water District,2018-03-01,Bimonthly,ccf,9,Uniform,26.16,36.49,62.66
1,Amador Water Agency,2017-10-01,Monthly,ccf,8,Uniform,25.08,20.64,45.72
2,American Canyon City Of,2017-06-01,Monthly,ccf,9,Tiered,6.40,49.23,55.63
3,Anaheim City Of,2016-02-01,Monthly,ccf,10,Uniform,12.97,5.19,18.16
4,Antioch City Of,2017-07-01,Monthly,ccf,10,Tiered,21.20,32.52,53.72
5,Apple Valley Ranchos Water Company,2017-01-01,Monthly,ccf,15,Tiered,34.73,63.14,97.87
6,Arcadia City Of,2017-04-01,Bimonthly,ccf,19,Tiered,10.17,32.52,42.69
7,Arcata City Of,2017-10-01,Monthly,ccf,4,Tiered,12.16,14.09,26.25
8,Arrowbear Park County Water District,2016-12-19,Monthly,ccf,15,Tiered,27.50,58.50,86.00
9,Arroyo Grande City Of,2017-08-09,Monthly,ccf,9,Tiered,34.34,36.60,70.94
10,Bakersfield City Of,2017-10-01,Monthly,ccf,20,Uniform,11.46,21.37,32.83
11,Bear State Water Works,2017-08-15,Monthly,kgal,15,Tiered,4.17,14.60,18.77
12,Bellflowersomerset Mutual Water Company,2014-10-01,Bimonthly,ccf,9,Uniform,14.18,16.29,30.47
13,Benicia City Of,2017-07-01,Bimonthly,ccf,7,Uniform,15.08,29.48,44.56
14,Beverly Hills City Of,2017-07-03,Bimonthly,ccf,11,Tiered,21.68,52.83,74.51
15,Big Bear City Community Service District,2017-07-01,Bimonthly,ccf,6,Tiered,36.98,12.17,49.15
16,Big Bear Lake City Of,2017-04-01,Bimonthly,ccf,15,Tiered,45.60,33.46,79.06
17,Blythe City Of,2017-07-01,Monthly,ccf,15,Uniform,10.66,29.55,40.21
18,Brawley City Of,2018-07-01,Monthly,kgal,14,Uniform,38.24,18.95,57.19
19,Brea City Of,2017-07-01,Monthly,ccf,10,Tiered,15.93,36.99,52.92
20,Brentwood City Of,2016-07-01,Monthly,ccf,11,Tiered,29.83,43.82,73.65
21,Buena Park City Of,2018-01-01,Monthly,kgal,11,Uniform,38.61,17.49,56.10
22,Burbank City Of,2017-01-02,Monthly,ccf,9,Tiered,12.29,11.55,39.37
23,Burlingame City Of,2017-01-01,Bimonthly,kgal,6,Tiered,36.36,43.58,79.94
24,Calaveras County Water District,2017-09-01,Bimonthly,ccf,15,Tiered,85.17,11.52,96.69
25,Calaveras Public Utilities District,2016-07-01,Monthly,kgal,15,Tiered,39.73,11.55,51.28
26,Calexico City Of,2008-08-01,Monthly,ccf,13,Tiered,43.89,0.00,43.89
27,California American Water Company Sacramento ...,2018-01-01,Monthly,kgal,15,Tiered,19.84,46.70,66.54
28,California American Water Ventura District,2017-01-13,Monthly,kgal,15,Tiered,14.73,58.74,73.47
29,California Water Service Company Antelope Valley,2017-01-01,Monthly,ccf,15,Tiered,31.02,65.35,96.37
...,...,...,...,...,...,...,...,...,...
293,Upland City Of,2018-04-01,Bimonthly,ccf,16,Tiered,29.70,31.94,61.64
294,Vacaville City Of,2018-01-01,Monthly,ccf,12,Uniform,21.61,20.36,41.97
295,Valencia Water Company,2018-01-01,Monthly,ccf,11,Uniform,17.19,19.94,37.13
296,Vallejo City Of Vallejo Service Area,2017-06-09,Monthly,ccf,15,Tiered,19.45,65.90,85.34
297,Vallejo City Of Lakes Service Area,2017-06-09,Monthly,ccf,15,Tiered,41.08,197.37,238.44
298,Valley County Water District,2018-01-01,Bimonthly,ccf,10,Tiered,14.91,13.68,28.59
299,Valley Estates Properties Owners Association,2017-01-01,Monthly,kgal,15,Tiered,27.50,308.55,336.05
300,Valley Of The Moon Water District,2018-02-01,Bimonthly,kgal,8,Tiered,12.80,36.74,49.54
301,Vaughn Water Company,2018-01-01,Monthly,ccf,35,Tiered,39.38,11.36,50.74
302,Ventura City Of,2017-07-01,Bimonthly,ccf,15,Tiered,16.84,74.59,91.44
303,Ventura County Waterworks District No 01 Moor...,2017-03-15,Monthly,ccf,16,Tiered,10.41,57.08,67.49
304,Vernon City Of,2015-03-01,Monthly,ccf,5,Uniform,11.29,9.90,21.19
305,Victorville Water District,2016-07-01,Monthly,ccf,15,Uniform,11.78,25.83,37.61
306,Virgin Valley Water District,2015-04-20,Monthly,kgal,15,Tiered,35.00,25.05,60.05
307,Vista Irrigation District,2017-07-01,Monthly,ccf,9,Tiered,37.05,39.80,76.85
308,Walnut Valley Water District,2017-01-01,Monthly,ccf,14,Tiered,19.43,43.66,63.09
309,Watsonville City Of,2017-07-01,Monthly,ccf,9,Tiered,25.80,30.80,56.60
310,West Sacramento City Of,2021-07-01,Monthly,ccf,11,Uniform,24.61,27.61,52.22
311,West San Martin Water Works,2017-07-17,Monthly,ccf,15,Tiered,23.45,38.76,62.21
312,West Valley Water District,2015-01-01,Monthly,ccf,20,Tiered,22.21,45.25,67.46
313,Westborough Water District,2016-09-08,Monthly,ccf,5,Uniform,17.70,34.35,52.05
314,Western Municipal Water District,2018-01-01,Monthly,ccf,15,Budget,34.67,35.77,70.44
315,Westhaven Community Services District,2017-07-01,Monthly,kgal,15,Uniform,49.40,157.87,207.27
316,Westminister City Of,2017-11-09,Bimonthly,ccf,10,Tiered,7.08,28.23,35.30
317,Whittier City Of,2017-08-01,Bimonthly,ccf,10,Tiered,20.18,19.36,39.53
318,Windsor Town Of,2017-07-01,Bimonthly,kgal,8,Tiered,5.62,23.22,28.84
319,Woodland City Of,2021-01-01,Monthly,ccf,9,Tiered,55.65,37.12,92.77
320,Yorba Linda Water District,2017-08-01,Monthly,ccf,17,Uniform,19.45,47.15,66.60
321,Yreka City Of,2012-10-01,Monthly,kgal,9,Tiered,41.08,12.86,53.94
322,Yucaipa Valley Water District,2017-03-07,Monthly,kgal,19,Tiered,14.00,20.58,34.58

# TODO

- Join with the Water Provider info table (`WPSID`, etc)


# Notes
- This table probably has cities from Nevada as well

In [65]:
from cawc import PATH_DATA
PATH_DATA

PosixPath('/data/datasets/cawc')